.set
{
    margin: 18% auto;
}

.pressed
{
    box-shadow: 0 3px 4px 0 #dbedf3;
    opacity: 0.5;

}

.red
{
    color: red;

}

.drum
{
    outline: none;
    border: 10px solid #404869;
    font-size: 45 rem;
    font-family: 'arvo', cursive;
    line-height: 2;
    color: #DAB463;
    text-shadow: 3px #dbedf3;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
}




}